.login-section{
    display: flex;
    align-items: center; 
}
.login-section .side{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #f7f5f5;
    height: 100%;
}
.login-section .side p{
    width: 60%;
}
.login-section .landing-icon{
    width: 80%;
}
.login-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-section .link-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--bg-dark);
}
.login-section .loading-spinner{
    margin: 0;
    padding: 0;
    height: 16px;
    width: 16px;
    display: inline-block;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    border-top-color:#f7f5f5;
    animation: spin 1s infinite ease-in-out;
}
@keyframes spin {
    to {
            -webkit-transform: rotate(359deg);
    }
}