body{
    background: url("../../images/menota.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#landing .content{
    height: 90vh;
}
#landing .nav{
    height: 10vh;
}
#landing .logo{
    height: 60%;
}
#landing .text-group h1{
    text-transform: capitalize;
}
#landing .illustraion img{
    max-height: 100%;
    max-width: 100%;
}
#landing .scroll-down{
    position: absolute;
    bottom: 2rem;
    left: 0;
    color: var(--text-secondary);
}
#landing .scroll-down svg{
    animation: scroll-down infinite 1.8s;
}
@keyframes scroll-down {
    0%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}
#landing span.primary{
    color: var(--primary-color) !important;
    background: none;
}