.landing-section .navbar{
    height: 10vh;
}
.landing-section main{
    height: 80vh;
    display: flex;
    align-items: center;
}
.landing-section main .row{
    display: flex;
    align-items: center;
}
.landing-section footer{
    height: 10vh;
}
.landing-section footer svg{
    font-size: 28px;
    color: var(--bg-one-1);
    margin-right: 32px;
    cursor: pointer;
}
.landing-section .btn{
    color: var(--bg-one-1);
}
.landing-section .landing-icon{
    width: 80%;
}
.landing-section .wave{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1000 !important;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100vh;
}
.landing-section .wave img{
    height: 100%;
}
