h1, h2, h3,h4,h4,h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.title{
    font-family: 'Courier Prime', monospace !important;
    font-weight: 400;
}
.landing-image{
    width: 100%;
}