.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sideBar .nav-item{
  transition: all ease-in .4s;
  border-left: 2px solid transparent;
}
#sideBar .nav-item:hover{
  border-left: 2px solid var(--bg-one-2);
}
.user-area{
  position: absolute;
  bottom: 0;
  left: 0;
}
.create-tag{
  position: absolute;
  top:10%;
  z-index: 5000;
  background-color: #f7f6f6;
  left: 50%;
}