.menu-icon{
    font-size: 1.4rem;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.menu-icon svg{
    vertical-align: baseline;
}
.menu-icon:hover{
    background-color: #F7F5F5;
}
.sidebar{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr .7fr;
    grid-template-areas: "navegation" "notes" "note-btn" "options";
}
.sidebar-fix{
    width: 100%;
    height: 80vh;
    box-shadow: 0px 0px 16px rgba(0,0,0,.1);
}

.navegation{
    grid-area: navegation;
}
.notes{
    grid-area: notes;
}
.note-btn{
    grid-area: note-btn;
}
.options{
    grid-area: options;
}