.signup-section{
    display: flex;
    align-items: center; 
}
.signup-section .side{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #f7f5f5;
    height: 100%;
}
.signup-section .side p{
    width: 60%;
}
.signup-section .landing-icon{
    width: 80%;
}
.signup-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-section .link-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-section .input-field{
    position: relative; 
    height: 40px;
}
.signup-section .input-field input{
    height: 100%;
    width: 100%;
    border: none; 
    border-bottom: solid 2px silver;
}
.signup-section .input-field input:focus ~ label,.signup-section .input-field input:valid ~ label{
    transform: translateY(-20px);
    font-size: 90%;
}
.signup-section .input-field label{
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    transition: all ease-in 0.3s;
}

