.signup-section{
    display: flex;
    align-items: center; 
}
.signup-section .side{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #f7f5f5;
    height: 100%;
}
.signup-section .side p{
    width: 60%;
}
.signup-section .landing-icon{
    width: 80%;
}
.signup-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-section .link-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-section input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--bg-dark);
}